.clients {
    padding-top: 94px;
    padding-bottom: 94px;

        &__title {
             font-size: 36px;
             line-height: 1.16;
             letter-spacing: 0.03em;
             color: var(--secondary-text-color);
             text-align: center;
             margin-bottom: 50px;
            }

        &__list {
             display: flex;
             gap: 30px;
             list-style: none;
            }

         &__link {
             display: flex;
             width: 170px;
             height: 92px;
             justify-content: center;
             align-items: center;
             border-radius: 4px;
             color: var(--social-color);
             fill: currentColor;
             border: 1px solid var(--social-color);
             transition: fill 250ms var(--timing-function),
             border-color 250ms var(--timing-function);

                &:hover,
                &:focus {
                    fill: var(--accent-color);
                    border-color: var(--accent-color);
                    cursor: pointer;
                }
            }
}







