.features {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
        gap: 30px;
        list-style: none;
    }

    &__item {
        display: block;
        width: 270px;
    }

    &__icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background: var(--background-section-sub);
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__icon {
        display: block;
    }

    &__title {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-text-color);
        display: flex;
        margin-bottom: 10px;
    }

    &__parapraph {
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

}

