.features {
    padding-top: 60px;
    padding-bottom: 60px;
    width: auto;
    margin: auto;

    @media screen and (min-width: $mobile) and (max-width: 767px) {
        width: 480px;
    }

    @media screen and (min-width:$desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: $tablet) {
            flex-flow: row wrap;
        }

    }

    &__item {
        display: block;
        max-width: 450px;
        width: auto;

        @media screen and (min-width: $mobile) and (max-width: 767px) {
            width: 450px;
        }

        @media screen and (min-width: $tablet) {
            width: 354px;
        }
        @media screen and (min-width: $desktop) {
            width: 270px;
        }
        
    }

    &__icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        max-width: 450px;
        height: 120px;
        background: var(--background-section-sub);
        border-radius: 4px;
        margin-bottom: 30px;
        
        @media screen and (min-width: $mobile) and (max-width: 767px) {
            width: 450px;
        }

        @media screen and (min-width: $tablet) {
            width: 354px;
        }
        @media screen and (min-width: $desktop) {
            width: 270px;
        }
    }

    &__icon {
        display: block;
    }

    &__title {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-text-color);
        display: flex;
        margin-bottom: 10px;
    }

    &__parapraph {
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

}

