.hero {
    background-color: var(--background-section-main);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;

    &__title {
        display: flex;
        margin: 0px auto 30px auto;
        color: var(--white);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 695px;
    }
}

.main-button {
    @extend %button;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px 32px;

    &:hover,
    &:focus {
        background-color: var(--accent-color-hover);
    }
}
